# Example configuration file for a EAGLE-XL-like simulation

# Location of your other .yml files that are passed to the
# velociraptor auto plotter (these describe your scaling)
# relation figures. Also required is the registration file
# in the case where you have non-catalogue properties
# used in the autoplotter.
auto_plotter_directory: auto_plotter
auto_plotter_registration: registration.py

# Location of the 'observational data' repository and its compiled
# contents.
observational_data_directory: ../observational_data

# Style sheet to be used throughout with plotting
matplotlib_stylesheet: mnras.mplstyle

# Jinja2 template that gets fed the swiftsimio metadata
# object for you to describe the run with.
description_template: description.html

# Location and description of additional figures
scripts:
  - filename: scripts/density_temperature.py
    caption: Density-temperature diagram.
    output_file: density_temperature.png
    section: Density-Temperature
    title: Density-Temperature
  - filename: scripts/subgrid_density_temperature.py
    caption: Density-temperature diagram constructed from the sub-grid quantities.
    output_file: subgrid_density_temperature.png
    section: Density-Temperature
    title: Subgrid Density-Temperature
  - filename: scripts/density_temperature_metals.py
    caption: Density-temperature diagram with the pixel value weighted by the mean logrithmic metallicity in that bin. Medians are not used due to their computational complexity.
    output_file: density_temperature_metals.png
    section: Density-Temperature
    title: Density-Temperature (Metals)
  - filename: scripts/density_internal_energy.py
    caption: Density-Internal Energy diagram.
    output_file: density_internal_energy.png
    section: Density-Temperature
    title: Density-Internal Energy
  - filename: scripts/density_pressure.py
    caption: Density-pressure diagram.
    output_file: density_pressure.png
    section: Density-Temperature
    title: Density-Pressure
  - filename: scripts/star_formation_history.py
    caption: Star formation history plotted directly from the SFR.txt file produced by SWIFT.
    output_file: star_formation_history.png
    section: Star Formation History
    title: Star Formation History
  - filename: scripts/stellar_mass_evolution.py
    caption: Evolution of the stellar mass plotted directly from the statistics.txt file produced by SWIFT.
    output_file: stellar_mass_evolution.png
    section: Star Formation History
    title: Stellar Mass Evolution
  - filename: scripts/metallicity_distribution.py
    caption: Metal mass fraction distribution shown for each simulation; solid lines show gas metallicity and dashed lines show the same for the stars.
    output_file: metallicity_distribution.png
    section: Metal Mass Fractions
    title: Metal Mass Fraction Distribution
  - filename: scripts/birth_density_f_E.py
    caption: Feedback energy fractions $f_E$ shown against the birth densities for the stars. Any variation here is due to differing metallicity of the gas.
    section: Feedback Energy Fraction
    title: $f_E$ as a Function of Birth Density
    output_file: birth_density_f_E.png
  - filename: scripts/birth_density_distribution.py
    caption: Distributions of birth densities, split by redshift.
    title: Stellar Birth Densities
    section: Feedback Energy Fraction
    output_file: birth_density_distribution.png
  - filename: scripts/birth_density_metallicity.py
    caption: Birth density-metallicity plane. Contour lines show stars formed at all epochs, with the background color map showing the feedback energy fraction associated with this particle's feedback event.
    title: Birth Density-Metallicity Plane
    section: Feedback Energy Fraction
    output_file: birth_density_metallicity.png

