<h3>{{ data.metadata.run_name }}</h3>

<h4>Basic</h4>
<ul>
    <li>Box-size: {{ data.metadata.boxsize[0] | format_number }}</li>
    <li>Dark matter particle mass: {{ data.dark_matter.masses[0].to("Solar_Mass") | format_number }}</li>
    <li>Gas particle mass: {{ data.gas.masses.min().to("Solar_Mass") | format_number }}</li>
    <li>Snapshot \(z={{ "%2.2f" | format(data.metadata.z)}}\), \(a={{ "%2.2f" | format(data.metadata.a)}}\)</li>
</ul>

<h4>Particle Numbers</h4>
<p>Cube root of Dark Matter particle number: {{ (data.metadata.n_dark_matter**(1/3)+0.01) | int }}</p>
<table>
    <tr>
        <th>Gas</th>
        <th>Dark Matter</th>
        <th>Star</th>
        <th>Black Hole</th>
    </tr>
    <tr>
        <td>{{ data.metadata.n_gas }}</td>
        <td>{{ data.metadata.n_dark_matter }}</td>
        <td>{{ data.metadata.n_stars }}</td>
        <td>{{ data.metadata.n_black_holes }}</td>
    </tr>
</table>

<h4>Gravitational Softening</h4>
<table>
    <tr>
        <th colspan=2>Baryons [kpc]</th>
        <th colspan=2>Dark Matter [kpc]</th>
    </tr>
    <tr>
        <th>Max Physical</th>
        <th>Comoving</th>
        <th>Max Physical</th>
        <th>Comoving</th>
    </tr>
    <tr>
        <td>{{ ((data.metadata.parameters["Gravity:max_physical_baryon_softening"] | float) * data.units.length).to('kpc') | float | format_number }}</td>
        <td>{{ ((data.metadata.parameters["Gravity:comoving_baryon_softening"] | float) * data.units.length).to('kpc') | float | format_number }}</td>
        <td>{{ ((data.metadata.parameters["Gravity:max_physical_DM_softening"] | float) * data.units.length).to('kpc') | float | format_number }}</td>
        <td>{{ ((data.metadata.parameters["Gravity:comoving_DM_softening"] | float) * data.units.length).to('kpc') | float | format_number }}</td>
    </tr>
</table>

<h4>Star Formation</h4>
<table>
    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Star Formation Model</td>
        <td>{{ data.metadata.parameters["COLIBREStarFormation:SF_model"].decode("utf-8") }}</td>
    </tr>
    <tr>
        <td>Temperature Ceiling</td>
        <td>{{ ((data.metadata.parameters["COLIBREStarFormation:temperature_threshold_K"] | float) * data.units.temperature).to('K') | format_number }}</td>
    </tr>
    <tr>
        <td>Virial Parameter</td>
        <td>{{ (data.metadata.parameters["COLIBREStarFormation:alpha_virial"] | float) | format_number }}</td>
    </tr>
    <tr>
        <td>Threshold SF \(n_{\rm H, max}\)</td>
        <td>{{ (data.metadata.parameters["COLIBREStarFormation:subgrid_density_threshold_H_p_CM3"] | float) | format_number }} cm\(^{-3}\)</td>
    </tr>
    <tr>
        <td>Immediate SF \(n_{\rm H, max}\)</td>
        <td>{{ (data.metadata.parameters["COLIBREStarFormation:threshold_max_density_H_p_cm3"] | float) | format_number }} cm\(^{-3}\)</td>
    </tr>
</table>

<h4>Stellar Feedback</h4>
<table>
    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Supernova Energy</td>
        <td>{{ (data.metadata.parameters["COLIBREFeedback:SNII_energy_erg"] | float) | format_number }} erg</td>
    </tr>
    <tr>
        <td>\(f_{\rm E, min}\)</td>
        <td>{{ "%.4g" % ( data.metadata.parameters["COLIBREFeedback:SNII_energy_fraction_min"] | float ) }}</td>
    </tr>
    <tr>
        <td>\(f_{\rm E, max}\)</td>
        <td>{{ "%.4g" % ( data.metadata.parameters["COLIBREFeedback:SNII_energy_fraction_max"] | float ) }}</td>
    </tr>
    <tr>
        <td>\(f_{\rm kinetic}\)</td>
        <td>{{ "%.4g" % (data.metadata.parameters["COLIBREFeedback:SNII_f_kinetic"] | float) }}</td>
    </tr>
    <tr>
        <td>\(v_{\rm kinetic}\)</td>
        <td>{{ "%.4g" % (data.metadata.parameters["COLIBREFeedback:SNII_delta_v_km_p_s"] | float) }} km s\(^{-1}\)</td>
    </tr>
     <tr>
        <td>\(\Delta T\)</td>
        <td>{{ data.metadata.parameters["COLIBREFeedback:SNII_delta_T_K"] | float | format_number }} K</td>
    </tr>
</table>

<h4>Gas Cooling</h4>
{% if data.metadata.parameters.get("CHIMESCooling:data_path", False) %}
<p>CHIMES</p>
{% else %}
<p>Table cooling (Ploeckinger, 2020)</p>
{% endif %}

<h4>Entropy Floor</h4>
{% if data.metadata.parameters.get("COLIBREEntropyFloor:Jeans_density_norm_H_p_cm3", False) %}
<table>
    <tr>
        <th>\(n_{\rm H, norm}\) [cm\(^{-3}\)]</th>
        <th>\(T_{\rm norm}\) [K]</th>
        <th>Slope</th>
    </tr>
    <tr>
        <td>{{ (data.metadata.parameters["COLIBREEntropyFloor:Jeans_density_norm_H_p_cm3"] | float) | format_number }}</td>
        <td>{{ (data.metadata.parameters["COLIBREEntropyFloor:Jeans_temperature_norm_K"] | float) | format_number }}</td>
        <td>{{ (data.metadata.parameters["COLIBREEntropyFloor:Jeans_gamma_effective"] | float) | format_number }}</td>
    </tr>
</table>
{% else %}
<p>No entropy floor present.</p>
{% endif %}

<h4>Chemistry</h4>
<table>
    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Metal diffusion constant</td>
        <td>{{ "%.4g" % (data.metadata.parameters["COLIBREChemistry:metal_diffusion_constant"] | float) }}</td>
    </tr>
</table>

<h4>AGN</h4>
{% if data.metadata.parameters.get("COLIBREAGN:AGN_delta_T_K", False) %}
<table>
    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>\(\Delta T\)</td>
        <td>{{ data.metadata.parameters["COLIBREAGN:AGN_delta_T_K"] | float | format_number }} K</td>
    </tr>
    <tr>
        <td>Coupling efficiency</td>
        <td>{{ "%.4g" % (data.metadata.parameters["COLIBREAGN:coupling_efficiency"] | float) }}</td>
    </tr>
    <tr>
        <td>Radiative efficiency</td>
        <td>{{ "%.4g" % (data.metadata.parameters["COLIBREAGN:radiative_efficiency"] | float) }}</td>
    </tr>
    <tr>
        <td>BH Subgrid Seed Mass</td>
        <td>{{ data.metadata.parameters["COLIBREAGN:subgrid_seed_mass_Msun"] | float | format_number }} M\(_\odot\)</td>
    </tr>
    <tr>
        <td>Seed Halo Mass</td>
        <td>{{ data.metadata.parameters["FOF:black_hole_seed_halo_mass_Msun"] | float | format_number }} M\(_\odot\)</td>
    </tr>
    <tr>
        <td>Targer number of particles to heat N\(_{\rm heat}\)</td>
        <td>{{ "%.4g" % (data.metadata.parameters["COLIBREAGN:AGN_num_ngb_to_heat"] | float) }}</td>
    </tr>
    <tr>
        <td>Use sub-grid gas properties</td>
        <td>{{ data.metadata.parameters.get("COLIBREAGN:use_subgrid_gas_properties", 0) | int }}</td>
    </tr>
    <tr>
        <td>Use Multi-phase Bondi</td>
        <td>{{ data.metadata.parameters.get("COLIBREAGN:use_multi_phase_bondi", 0) | int }}</td>
    </tr>
    <tr>
        <td>Use Krumholtz Accretion</td>
        <td>{{ data.metadata.parameters.get("COLIBREAGN:use_krumholz", 0) | int }}</td>
    </tr>
    <tr>
        <td>Use Krumholtz Vorticity</td>
        <td>{{ data.metadata.parameters.get("COLIBREAGN:with_krumholz_vorticity", 0) | int }}</td>
    </tr>
    <tr>
        <td>Use Angular Momentum Limiter</td>
        <td>{{ data.metadata.parameters.get("COLIBREAGN:with_angmom_limiter", 0) | int }}</td>
    </tr>
    <tr>
        <td>Normalisation of the viscous time-scale</td>
        <td>{{ data.metadata.parameters.get("COLIBREAGN:viscous_alpha", 0.0) | float | format_number }}</td>
    </tr>
    <tr>
        <td>Use Nibbling</td>
        <td>{{ data.metadata.parameters.get("COLIBREAGN:use_nibbling", 0) | int }}</td>
    </tr>
    <tr>
        <td>Minimal Gas Mass For Nibbling</td>
        <td>{{ data.metadata.parameters.get("COLIBREAGN:min_gas_mass_for_nibbling", 0.0) | float | format_number }} M\(_\odot\)</td>
    </tr>
    <tr>
        <td>Maximal Reposition Mass</td>
        <td>{{ data.metadata.parameters.get("COLIBREAGN:max_reposition_mass", 0.0) | float | format_number }} M\(_\odot\)</td>
    </tr>
    <tr>
        <td>Use Reposition Velocity Threshold</td>
        <td>{{ data.metadata.parameters.get("COLIBREAGN:with_reposition_velocity_threshold", 0) | int }}</td>
    </tr>
    <tr>
        <td>Maximal Reposition Velocity Offset</td>
        <td>{{ data.metadata.parameters.get("COLIBREAGN:max_reposition_velocity_ratio", 0.0) | float | format_number }} \(c_{s, {\rm BH}}\)</td>
    </tr>
    <tr>
        <td>Minimal Reposition Velocity Threshold</td>
	<td>{{ data.metadata.parameters.get("COLIBREAGN:min_reposition_velocity_threshold", 0.0) | float | format_number }} km s\(^{-1}\)</td>
    </tr>
    <tr>
        <td>Set Black Hole Reposition Speed</td>
	<td>{{ data.metadata.parameters.get("COLIBREAGN:set_reposition_speed", 0) | int }}</td>
    </tr>
    <tr>
        <td>Repositioning Speed Normalisation</td>
	<td>{{ data.metadata.parameters.get("COLIBREAGN:reposition_coefficient_upsilon", 0.0) | float | format_number }} km s\(^{-1}\) M\(_\odot\)\(^{-1}\)</td>
    </tr>
    <tr>
        <td>Black Hole Merger Threshold Type</td>
        <td>{{ data.metadata.parameters.get("COLIBREAGN:merger_threshold_type", 0) | int }}</td>
    </tr>
    <tr>
        <td>Black Hole Merger Max Distance Ratio</td>
        <td>{{ "%.4g" % (data.metadata.parameters["COLIBREAGN:merger_max_distance_ratio"] | float) }}</td>
    </tr>
</table>
{% else %}
<p>No AGN feedback parameters were found.</p>
{% endif %}

<h4>Code Setup</h4>
<ul>
    <li>Code info: {{ data.metadata.code_info }}</li>
    <li>Compiler info: {{ data.metadata.compiler_info }}</li>
    <li>Hydrodynamics: {{ data.metadata.hydro_info }}</li>
</ul>

