<h3>{{ data.metadata.run_name }}</h3>

<h4>Basic</h4>
<ul>
    <li>Box-size: {{ data.metadata.boxsize[0] | format_number }}</li>
    <li>Dark matter particle mass:
        {{ data.metadata.initial_mass_table.dark_matter.to("Solar_Mass") | format_number }}</li>
    <li>Gas particle mass: {{ data.metadata.initial_mass_table.gas.to("Solar_Mass") | format_number }}</li>
    <li>Snapshot \(z={{ "%2.2f" | format(data.metadata.z)}}\), \(a={{ "%2.2f" | format(data.metadata.a)}}\)</li>
</ul>

<h4>Particle Numbers</h4>
<p>Cube root of Dark Matter particle number: {{ (data.metadata.n_dark_matter**(1/3)+0.01) | int }}</p>
<table>
    <tr>
        <th>Gas</th>
        <th>Dark Matter</th>
        <th>Star</th>
        <th>Black Hole</th>
    </tr>
    <tr>
        <td>{{ data.metadata.n_gas }}</td>
        <td>{{ data.metadata.n_dark_matter }}</td>
        <td>{{ data.metadata.n_stars }}</td>
        <td>{{ data.metadata.n_black_holes }}</td>
    </tr>
</table>

<h4>Gravitational Softening</h4>
<table>
    <tr>
        <th colspan=2>Baryons</th>
        <th colspan=2>Dark Matter</th>
    </tr>
    <tr>
        <th>Max Physical</th>
        <th>Comoving</th>
        <th>Max Physical</th>
        <th>Comoving</th>
    </tr>
    <tr>
        <td>{{ data.metadata.parameters | get_if_present_float("Gravity:max_physical_baryon_softening", data.units.length, "kpc") }}
        </td>
        <td>{{ data.metadata.parameters | get_if_present_float("Gravity:comoving_baryon_softening", data.units.length, "kpc") }}
        </td>
        <td>{{ data.metadata.parameters | get_if_present_float("Gravity:max_physical_DM_softening", data.units.length, "kpc") }}
        </td>
        <td>{{ data.metadata.parameters | get_if_present_float("Gravity:comoving_DM_softening", data.units.length, "kpc") }}
        </td>
    </tr>
</table>

<h4>Stars</h4>
<table>
    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Max time-step of young stars</td>
        <td>{{ data.metadata.parameters | get_if_present_float("Stars:max_timestep_young_Myr", "Myr") }}
        </td>
    </tr>
    <tr>
        <td>Transition from young to old</td>
        <td>{{ data.metadata.parameters | get_if_present_float("Stars:timestep_age_threshold_Myr", "Myr")}}
        </td>
    </tr>
    <tr>
        <td>Max time-step of old stars</td>
        <td>{{ data.metadata.parameters | get_if_present_float("Stars:max_timestep_old_Myr", "Myr") }}
        </td>
    </tr>
    <tr>
        <td>Transition from old to unlimited</td>
        <td>{{ data.metadata.parameters | get_if_present_float("Stars:timestep_age_threshold_unlimited_Myr", "Myr") }}
        </td>
    </tr>
</table>

<h4>Star Formation</h4>
<table>
    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Star Formation Model</td>
        <td>{{ data.metadata.parameters["COLIBREStarFormation:SF_model"].decode("utf-8") }}</td>
    </tr>
    <tr>
        <td>Temperature Ceiling</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREStarFormation:temperature_threshold_K", "K") }}
        </td>
    </tr>
    <tr>
        <td>Virial Parameter</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREStarFormation:alpha_virial") }}</td>
    </tr>
    <tr>
        <td>Star-formation efficiency (Schmidt law)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREStarFormation:star_formation_efficiency") }}</td>
    </tr>
    <tr>
        <td>Threshold SF \(n_{\rm H, max}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREStarFormation:subgrid_density_threshold_H_p_CM3") }}
            cm\(^{-3}\)</td>
    </tr>
    <tr>
        <td>Immediate SF \(n_{\rm H, max}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREStarFormation:density_direct_H_p_cm3") }}
            cm\(^{-3}\)</td>
    </tr>
</table>

<h4>Stellar Feedback</h4>
<table>
    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>SNII Energy</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_energy_erg", "erg") }}</td>
    </tr>
    <tr>
        <td>SNIa Energy</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNIa_energy_erg", "erg") }}</td>
    </tr>
    <tr>
        <td>\(f_{\rm E, min}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_energy_fraction_min") }}</td>
    </tr>
    <tr>
        <td>\(f_{\rm E, max}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_energy_fraction_max") }}</td>
    </tr>
    <tr>
        <td>\(\sigma_{\rm P}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_energy_fraction_sigma_P") }}</td>
    </tr>
    <tr>
        <td>\(P_{\rm E,pivot} / k_{\rm B}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_energy_fraction_P_0_K_p_cm3") }}
        K cm\(^{-3}\) </td>
    </tr>
    <tr>
        <td>\(n_{\rm Z}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_energy_fraction_n_Z") }}</td>
    </tr>
    <tr>
        <td>\(Z_{\rm E,pivot}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_energy_fraction_Z_0") }}</td>
    </tr>
    <tr>
        <td>\(n_{\rm n}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_energy_fraction_n_n") }}</td>
    </tr>
    <tr>
        <td>\(n_{\rm E,pivot}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_energy_fraction_n_0_H_p_cm3") }}
        cm\(^{-3}\) </td>
    </tr>
    <tr>
        <td>\(f_{\rm kinetic}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_f_kinetic") }}</td>
    </tr>
    <tr>
        <td>SNII \(v_{\rm kick}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_delta_v_km_p_s", "km/s") }}</td>
    </tr>
    <tr>
        <td>SNII var-dT pivot temperature \(\Delta T_{\rm pivot}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_delta_T_K_pivot", "K") }}</td>
    </tr>
    <tr>
        <td>SNIa var-dT pivot temperature \(\Delta T_{\rm pivot}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNIa_delta_T_K_pivot", "K") }}</td>
    </tr>
    <tr>
        <td>SNII var-dT pivot density \(n_{\rm H, pivot}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_delta_T_n_0_H_p_cm3") }}
            cm\(^{-3}\)</td>
    </tr>
    <tr>
        <td>SNIa var-dT pivot density \(n_{\rm H, pivot}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNIa_delta_T_n_0_H_p_cm3") }}
            cm\(^{-3}\)</td>
    </tr>
    <tr>
        <td>SNII var-dT min temperature \(\Delta T_{\rm min}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_delta_T_K_min", "K") }}</td>
    </tr>
    <tr>
        <td>SNIa var-dT min temperature \(\Delta T_{\rm min}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNIa_delta_T_K_min", "K") }}</td>
    </tr>
    <tr>
        <td>SNII var-dT max temperature \(\Delta T_{\rm max}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_delta_T_K_max", "K") }}</td>
    </tr>
    <tr>
        <td>SNIa var-dT max temperature \(\Delta T_{\rm max}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNIa_delta_T_K_max", "K") }}</td>
    </tr>
    <tr>
        <td>SNII var-dT slope</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_delta_T_slope") }}</td>
    </tr>
    <tr>
        <td>SNIa var-dT slope</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNIa_delta_T_slope") }}</td>
    </tr>
    <tr>
        <td>Use Stellar Winds</td>
        <td>{{ data.metadata.parameters | get_if_present_int("COLIBREFeedback:with_StellarWinds") }}</td>
    </tr>
    <tr>
        <td>Use Radiation Pressure</td>
        <td>{{ data.metadata.parameters | get_if_present_int("COLIBREFeedback:with_RadiationPressure") }}</td>
    </tr>
    <tr>
        <td>Early Feedback \(v_{\rm kick}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:Momentum_desired_delta_v", "km/s") }}
        </td>
    </tr>
    <tr>
        <td>Use HII Regions</td>
        <td>{{ data.metadata.parameters | get_if_present_int("COLIBREFeedback:with_HIIRegions") }}</td>
    </tr>
    <tr>
        <td>SNII yield factor H</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_yield_factor_Hydrogen") }}</td>
    </tr>
    <tr>
        <td>SNII yield factor He</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_yield_factor_Helium") }}</td>
    </tr>
    <tr>
        <td>SNII yield factor C</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_yield_factor_Carbon") }}</td>
    </tr>
    <tr>
        <td>SNII yield factor N</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_yield_factor_Nitrogen") }}</td>
    </tr>
    <tr>
        <td>SNII yield factor O</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_yield_factor_Oxygen") }}</td>
    </tr>
    <tr>
        <td>SNII yield factor Ne</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_yield_factor_Neon") }}</td>
    </tr>
    <tr>
        <td>SNII yield factor Mg</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_yield_factor_Magnesium") }}</td>
    </tr>
    <tr>
        <td>SNII yield factor Si</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_yield_factor_Silicon") }}</td>
    </tr>
    <tr>
        <td>SNII yield factor Fe</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREFeedback:SNII_yield_factor_Iron") }}</td>
    </tr>
</table>

<h4>Gas Cooling</h4>
{% if data.metadata.subgrid_scheme.get("Cooling Model", False) %}
<p>{{ data.metadata.subgrid_scheme["Cooling Model"].decode("utf-8") }}</p>
{% if 'CHIMES' in data.metadata.subgrid_scheme["Cooling Model"].decode("utf-8") %}
    <p>{{ data.metadata.parameters.get("CHIMESCooling:colibre_table_filebase", "".encode()).decode("utf-8") }}</p>
<table>
    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Maximum Value of Gas-Dust Boost</td>
        <td>{{ data.metadata.parameters | get_if_present_float("CHIMESCooling:max_dust_boost_factor") }}</td>
    </tr>
    <tr>
        <td>Min Density in Gas-Dust Boost \(n_{\rm min}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("CHIMESCooling:dust_boost_nH_min_cgs") }}
        cm\(^{-3}\) </td>
    </tr>
    <tr>
        <td>Max Density in Gas-Dust Boost \(n_{\rm max}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("CHIMESCooling:dust_boost_nH_max_cgs") }}
        cm\(^{-3}\) </td>
    </tr>
</table>
{% else %}
    <p>{{ data.metadata.parameters.get("COLIBRECooling:filebase_cool", "".encode()).decode("utf-8") }}</p>
<table>
    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>H Reionization redshift</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBRECooling:H_reion_z") }}</td>
    </tr>
</table>
{% endif %}
{% else %}
<p>Disabled</p>
{% endif %}

<h4>Dust</h4>
{% if data.metadata.subgrid_scheme.get("Dust Model", False) %}
<table>
    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Dust Model</td>
        <td>{{ data.metadata.subgrid_scheme["Dust Model"].decode("utf-8") }}</td>
    </tr>
    <tr>
        <td>With Coupling to Cooling</td>
        <td>{{ data.metadata.parameters | get_if_present_int("DustEvolution:pair_to_cooling") }}</td>
    </tr>
    <tr>
        <td>Clumping Factor Mode</td>
        <td>{{ data.metadata.parameters.get("DustEvolution:clumping_factor_mode", "".encode()).decode("utf-8") }}</td>
    </tr>
    <tr>
        <td>Clumping Factor</td>
        <td>{{ data.metadata.parameters | get_if_present_float("DustEvolution:clumping_factor") }}</td>
    </tr>
    <tr>
        <td>Min Density in Clumping Factor \(n_{\rm min}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("DustEvolution:clumping_factor_nH_min_cgs") }}
        cm\(^{-3}\) </td>
    </tr>
    <tr>
        <td>Max Density in Clumping Factor \(n_{\rm max}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("DustEvolution:clumping_factor_nH_max_cgs") }}
        cm\(^{-3}\) </td>
    </tr>
</table>

{% else %}
<p>No dust</p>
{% endif %}

<h4>Entropy Floor</h4>
{% if data.metadata.parameters.get("COLIBREEntropyFloor:Jeans_density_norm_H_p_cm3", False) %}
<table>
    <tr>
        <th>\(n_{\rm H, norm}\) [cm\(^{-3}\)]</th>
        <th>\(T_{\rm norm}\) [K]</th>
        <th>Slope</th>
    </tr>
    <tr>
        <td>{{ (data.metadata.parameters["COLIBREEntropyFloor:Jeans_density_norm_H_p_cm3"] | float) | format_number }}
        </td>
        <td>{{ (data.metadata.parameters["COLIBREEntropyFloor:Jeans_temperature_norm_K"] | float) | format_number }}
        </td>
        <td>{{ (data.metadata.parameters["COLIBREEntropyFloor:Jeans_gamma_effective"] | float) | format_number }}</td>
    </tr>
</table>
{% else %}
<p>No entropy floor present</p>
{% endif %}

<h4>Chemistry</h4>
<table>
    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Metal diffusion constant</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREChemistry:metal_diffusion_constant") }}</td>
    </tr>
</table>

<h4>SNIa DTD</h4>
{% if data.metadata.parameters.get("SNIaDTD:normalization_timescale_Gyr", False) %}
<table>
    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr>
    {% if data.metadata.parameters.get("SNIaDTD:SNIa_efficiency_gauss_p_Msun", False) %}
    <tr>
        <td>Model</td>
        <td>Gaussian</td>
    </tr>
    <tr>
        <td>SNIa efficiency per Msun (Gaussian part)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("SNIaDTD:SNIa_efficiency_gauss_p_Msun") }}</td>
    </tr>
    <tr>
        <td>SNIa efficiency per Msun (constant part)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("SNIaDTD:SNIa_efficiency_const_p_Msun") }}</td>
    </tr>
    <tr>
        <td>SNIa delay time</td>
        <td>{{ data.metadata.parameters | get_if_present_float("SNIaDTD:SNIa_delay_time_Gyr") }} Gyr</td>
    </tr>
    <tr>
        <td>Normalisation time scale (constant part)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("SNIaDTD:normalization_timescale_Gyr") }} Gyr</td>
    </tr>
    <tr>
        <td>Characteristic time of the Guassian</td>
        <td>{{ data.metadata.parameters | get_if_present_float("SNIaDTD:characteristic_time_Gyr") }} Gyr</td>
    </tr>
    <tr>
        <td>Standard deviation time of the Guassian</td>
        <td>{{ data.metadata.parameters | get_if_present_float("SNIaDTD:STD_characteristic_time_Gyr") }} Gyr</td>
    </tr>
    {% else %}
    <tr>
        <td>Model</td>
        <td>Power law</td>
    </tr>
    <tr>
        <td>SNIa efficiency per Msun</td>
        <td>{{ data.metadata.parameters | get_if_present_float("SNIaDTD:SNIa_efficiency_p_Msun") }}</td>
    </tr>
    <tr>
        <td>SNIa delay time</td>
        <td>{{ data.metadata.parameters | get_if_present_float("SNIaDTD:SNIa_delay_time_Gyr") }} Gyr</td>
    </tr>
    <tr>
        <td>Normalisation time scale</td>
        <td>{{ data.metadata.parameters | get_if_present_float("SNIaDTD:normalization_timescale_Gyr") }} Gyr</td>
    </tr>
    <tr>
        <td>Power law slope</td>
        {% if data.metadata.parameters.get("SNIaDTD:power_law_slope", False) %}
        <td>{{ data.metadata.parameters | get_if_present_float("SNIaDTD:power_law_slope") }}</td>
        {% else %}
        <td>1.0</td>
        {% endif %}
    </tr>
    {% endif %}
</table>

{% else %}
{% if data.metadata.parameters.get("SNIaDTD:SNIa_timescale_Gyr", False) %}
<table>
    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Model</td>
        <td>exponential</td>
    </tr>
    <tr>
        <td>SNIa efficiency per Msun</td>
        <td>{{ data.metadata.parameters | get_if_present_float("SNIaDTD:SNIa_efficiency_p_Msun") }}</td>
    </tr>
    <tr>
        <td>SNIa delay time</td>
        <td>{{ data.metadata.parameters | get_if_present_float("SNIaDTD:SNIa_delay_time_Gyr") }} Gyr</td>
    </tr>
    <tr>
        <td>Exponential delay time</td>
        <td>{{ data.metadata.parameters | get_if_present_float("SNIaDTD:SNIa_timescale_Gyr") }} Gyr</td>
    </tr>
</table>
{% else %}
<p>DTD not found</p>
{% endif %}
{% endif %}

<h4>AGN feedback</h4>
{% if data.metadata.parameters.get("COLIBREAGN:AGN_delta_T_K", False) %}
<table>
    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>AGN Feedback Model</td>
        <td>{{ data.metadata.parameters.get("COLIBREAGN:AGN_feedback_model", "".encode()).decode("utf-8") }}</td>
    </tr>
    <tr>
        <td>Use Deterministic Feedback</td>
        <td>{{ data.metadata.parameters | get_if_present_int("COLIBREAGN:AGN_use_deterministic_feedback") }}</td>
    </tr>
    <tr>
        <td>\(\Delta T\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREAGN:AGN_delta_T_K", "K") }}</td>
    </tr>
    <tr>
        <td>Coupling efficiency</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREAGN:coupling_efficiency") }}</td>
    </tr>
    <tr>
        <td>Radiative efficiency</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREAGN:radiative_efficiency") }}</td>
    </tr>
    <tr>
        <td>BH Subgrid Seed Mass</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREAGN:subgrid_seed_mass_Msun", "Msun") }}</td>
    </tr>
    <tr>
        <td>Seed Halo Mass</td>
        <td>{{ data.metadata.parameters | get_if_present_float("FOF:black_hole_seed_halo_mass_Msun", "Msun") }}</td>
    </tr>
    <tr>
        <td>Target number of particles to heat N\(_{\rm heat}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREAGN:AGN_num_ngb_to_heat") }}</td>
    </tr>
    <tr>
        <td>Use sub-grid gas properties</td>
        <td>{{ data.metadata.parameters | get_if_present_int("COLIBREAGN:use_subgrid_gas_properties") }}</td>
    </tr>
    <tr>
        <td>Use Multi-phase Bondi</td>
        <td>{{ data.metadata.parameters | get_if_present_int("COLIBREAGN:use_multi_phase_bondi") }}</td>
    </tr>
    <tr>
        <td>Use Krumholtz Accretion</td>
        <td>{{ data.metadata.parameters | get_if_present_int("COLIBREAGN:use_krumholz") }}</td>
    </tr>
    <tr>
        <td>Use Krumholtz Vorticity</td>
        <td>{{ data.metadata.parameters | get_if_present_int("COLIBREAGN:with_krumholz_vorticity") }}</td>
    </tr>
    <tr>
        <td>Use Angular Momentum Limiter</td>
        <td>{{ data.metadata.parameters | get_if_present_int("COLIBREAGN:with_angmom_limiter") }}</td>
    </tr>
    <tr>
        <td>Viscous \(\alpha\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREAGN:viscous_alpha") }}</td>
    </tr>
    <tr>
        <td>Use Nibbling</td>
        <td>{{ data.metadata.parameters | get_if_present_int("COLIBREAGN:use_nibbling") }}</td>
    </tr>
    <tr>
        <td>Minimal Gas Mass For Nibbling</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREAGN:min_gas_mass_for_nibbling_Msun", "Msun") }}</td>
    </tr>
    <tr>
        <td>Minimum BH time-step</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREAGN:minimum_timestep_yr", "yr") }}</td>
    </tr>
    <tr>
        <td>Maximal Reposition Mass</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREAGN:max_reposition_mass", "Msun") }}</td>
    </tr>
    <tr>
        <td>Use Reposition Velocity Threshold</td>
        <td>{{ data.metadata.parameters | get_if_present_int("COLIBREAGN:with_reposition_velocity_threshold") }}</td>
    </tr>
    <tr>
        <td>Maximal Reposition Velocity Offset</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREAGN:max_reposition_velocity_ratio") }} \(c_{s,
            {\rm BH}}\)</td>
    </tr>
    <tr>
        <td>Minimal Reposition Velocity Threshold</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREAGN:min_reposition_velocity_threshold", "km/s") }}
        </td>
    </tr>
    <tr>
        <td>Set Black Hole Reposition Speed</td>
        <td>{{ data.metadata.parameters | get_if_present_int("COLIBREAGN:set_reposition_speed") }}</td>
    </tr>
    <tr>
        <td>Repositioning Speed Normalisation</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREAGN:reposition_coefficient_upsilon", "km/s/Msun") }}
        </td>
    </tr>
    <tr>
        <td>Black Hole Merger Threshold Type</td>
        <td>{{ data.metadata.parameters.get("COLIBREAGN:merger_threshold_type", "".encode()).decode("utf-8") }}</td>
    </tr>
    <tr>
        <td>Black Hole Merger Max Distance Ratio</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREAGN:merger_max_distance_ratio") }}</td>
    </tr>
    <tr>
        <td>Use Black Hole Accretion Boost Factor</td>
        <td>{{ data.metadata.parameters | get_if_present_int("COLIBREAGN:with_boost_factor") }}</td>
    </tr>
    <tr>
        <td>Boost \(\alpha\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREAGN:boost_alpha") }}</td>
    </tr>
    <tr>
        <td>Boost \(\beta\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREAGN:boost_beta") }}</td>
    </tr>
    <tr>
        <td>Boost \(n_{\rm norm}\)</td>
        <td>{{ data.metadata.parameters | get_if_present_float("COLIBREAGN:boost_n_h_star_cm3") }}
        cm\(^{-3}\) </td>
    </tr>
</table>
{% else %}
<p>No AGN feedback parameters were found.</p>
{% endif %}

<h4>Code Setup</h4>
<ul>
    <li>Code info: {{ data.metadata.code_info }}</li>
    <li>Compiler info: {{ data.metadata.compiler_info }}</li>
    <li>Hydrodynamics: {{ data.metadata.hydro_info }}</li>
</ul>
